@orange: #ff9000;
@black: #000000;
@white: #ffffff;
@gray: #e9e9e9;
@green: #2a80b9;

html, body{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4, h5{
  text-shadow: 1px 1px 1px black;
  text-align: center;
  color: @white;
  font-size: 1em;
}
h1{font-size: 2em}
h2{font-size: 1.5em}
h3{font-size: 1.17em}

.left{float: left;}
.right{float: right;}
.clear{clear: both}


h2:before, h2:after,
.content-page h1:before,
.content-page h1:after
{
  content: " ";
  background: no-repeat;
  background-image: url("/images/ico/arrow.png");
  background-position: 0 -90px;
  width: 38px; height: 19px;
  position: absolute;

}
h2:before, .content-page h1:before {
  margin: -20px 0 0 -40px;

}
h2:after, .content-page h1:after {
  transform: scale(-1,1);
  margin: -20px 0 0 10px;
}
:focus{outline: none}


.block-slide{
  background:@black 50% 0 no-repeat fixed;
  background-image: url("/images/bg/bg-1.jpg");
  background-size: cover;
  min-height: 100vh;
  position: relative;
  box-shadow: 0 0 20px #6b6b6b;

  &:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.9);
    //background: url("/images/bg/bg-ton-part.png") repeat;
    opacity: 0.55;
  }
}
.bg-white{
  background: rgba(255,255,255,0.9);
  padding: 50px;
  h1, h2, h3{color: @black; text-shadow: none}
}

.btn-main{
  border: 1px solid #fff;
  border-radius: 15px;
  //background: rgba(0,0,0,0.5);
  padding: 18px 0;
  text-align: center;
  font-size: 1.5em;
  color: #fff;
  width: 100%;
  &:hover{
    background: @green;
    border-color: @green;
    color: @white;
  }
}

#menu{
  position: absolute;
  width: 100%;
  z-index: 5;
  .nav{
    width: 100%;
    li{
      width: 14%;
      text-align: center;
    }
    li > a:hover, li > a:focus{background: none;}
    a{
      color: @white;
      margin-top: 20px;
      &.logo{margin-top: 0}
      font-size: 1.1em;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  .navbar-toggle{
    border-color: @white;
    .icon-bar {border: 1px solid #fff;}
  }

}


#mainpage{
  #main-slide{
    min-height: 100vh;
    padding-bottom: 150px;
    position: relative;
    h1 {
      color: @white;
      text-align: center;
      font-size: 3em;
    }
    .cadre{
      &:before, &:after{
        content: '';
        width: 127px;
        height: 55px;
        position: absolute;
        background-image: url("/images/ico/arrow.png");
        background-position: 0 0;      }
      &:after{
        right: 0;
        bottom: -60px;
        transform: rotate(180deg);
      }
      &:before{
        left: 0;
        top: -30px;
      }
    }
    .text-block{
      padding-top: 250px;
      margin-bottom: 100px;
      .btn-block{margin-top: 50px;}
    }
    .bottom-block{
      color: @white;
      padding: 50px;
      position: absolute;
      //width: 100%;
      bottom: 0;
    }
    .btn-main{
      width: 100%;
      margin: 50px 0 20px;
    }
  }
  #services{
    background: rgba(0,0,0,0.75);
    position: relative;
    a{color: @white;}
    h2{margin: 50px 0; font-size: 1.8em}
    h3{font-size: 1.5em}
    #services-ico > div{
      margin-bottom: 20px;
    }
  }


  #services-ico{
    .image{
      width: 300px;
      height: 237px;
      display: block;
      background: url(/images/ico/ico-services.png) no-repeat center;
      margin: 0 auto 20px;
      &.analysis{background-position: 0 0}
      &.planning{background-position: -300px 0}
      &.design{background-position: -600px 0}
      &.projection{background-position: 0 -245px}
      &.production{background-position: -300px -245px}
      &.promotion{background-position: -600px -245px}
    }
  }
}

.social i{
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 5px;
  background: url(/images/ico/social.png) no-repeat;
  &.vk{background-position: 0 0}
  &.fb{background-position: -41px 0}
  &.tw{background-position: -82px 0}
}
main{margin-bottom: 200px;}
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 50px;
  z-index: -1;
  background: @black;
  color: @white;
  min-height: 200px;
  //position: relative;
  //padding-top: 40px;
  //margin-top: -180px;
  .still{
    width: 100%;
    img{
      float: left;
      margin-right: 20px;
    }
  }
}

@media(max-width: 768px){
  #menu .navbar{
    background: rgba(0,0,0,0.7);
    .nav a {margin-top: 10px};
  }
  main { margin-bottom: 230px;}
}

@media (min-width: 768px) and (max-width: 992px) {
  #menu .nav a{ font-size: 0.8em;}
}



//pages
.col-xs-1-5,
.col-sm-1-5,
.col-md-1-5,
.col-lg-1-5 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-1-5 {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-1-5 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-1-5 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-1-5 {
    width: 20%;
    float: left;
  }
}

.buffer-page{
  height: 180px;
}
#content-services{
  color: @white;
  h1{margin-bottom: 50px}
  h3 a{color: @white;}
  .serve-preview{
    margin: 50px 0;
    .image{
      position: relative;
      width: 120px;
      height: 120px;
      margin: 0 auto;
      border-radius: 15px;
      text-align: center;
      padding-top: 20px;

      &:hover{
        background: @green;
      }
    }
    .image:before, .image:after{
      content: " ";
      background: no-repeat;
      background-image: url("/images/ico/arrow.png");
      background-position: 0 -57px;
      width: 75px; height: 34px;
      position: absolute;
    }
    .image:before {
      margin: -22px 0 0 -25px;
    }
    .image:after {
      transform:rotate(180deg);
      margin: 0 0 -2px -49px;
      bottom: 0;
    }
    & > div{
      height:220px;
    }
  }
  .btn-block{
    margin-bottom: 50px;
  }
}
#text-services{

}